{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>To-do-List | Login</title>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
{% endblock meta %}

{% block content %}

<body class="backg">
    <h1 style="text-align: center;font-family: cursive;line-height:3em; color: black;">To-do-List</h1>
    <div class = "login center" style="position: absolute; top: 40%; left:50%;transform: translate(-50%, -50%);padding: 10px;">
        <h2 style="text-align: center;">Login</h2>

        <form method="POST" action="">
            {% csrf_token %}
            <table style="position: 0;margin-left:auto;margin-right:auto">
                <tr>
                    <td><input type="text" name="username" placeholder="Username" class="form-control" style="margin-bottom: 15px;"></td>
                </tr>
                    
                <tr>
                    <td><input type="password" name="password" placeholder="Password" class="form-control" style="margin-bottom: 20px;"></td>
                </tr>

                <tr>
                    <td><input type="submit" class="btn btn-outline-dark" value="Login" style="width:100%;;margin-bottom:20px;font-size: 13px;"></td>
                </tr>
            </table>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
        
        <div style="text-align: center;">
            Belum mempunyai akun? <a href="{% url 'todolist:register' %}". style="text-align: center;">Buat Akun</a>
        </div>
    </div>
</body>

{% endblock content %}