{% extends 'base.html' %}

{% block meta %}
<title>To-do-List | Register</title>
{% endblock meta %}

{% block content %}  

<body style="background-color: beige;">
<div class = "login">
    <h2 style="text-align: center; padding-top: 20px;">Register</h2>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div> 
</body> 

{% endblock content %}