{% extends 'base.html' %}

{% block content %}
<h5>Nama: </h5>
<p>{{nama}}</p>
<h5>NPM: </h5>
<p>{{npm}}</p>

{% comment %} Mengecek apakah film yang ditonton lebih banyak dari yang belum ditonton {% endcomment %}
{% if total_watched >= total_unwatched %}
    <p>Selamat, kamu sudah banyak menonton!</p>
{% else %}
    <p>Wah, kamu masih sedikit menonton!</p>
{% endif %}

<table>
    <tr>
    <th>Judul Film</th>
    <th>Tanggal Rilis</th>
    <th>Sudah Ditonton?</th>
    <th>Rating</th>
    <th>Review</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for watch in list_film %}
        <tr>
            <th>{{watch.title}}</th>
            <th>{{watch.release_date}}</th>
            <th>{{watch.watched}}</th>
            <th>{{watch.rating}}</th>
            <th>{{watch.review}}</th>
        </tr>
    {% endfor %}
</table>

{% endblock content %}